.SearchContainer{
margin: 20px auto;
width: 300px;

position: relative;
}
.input{
    border: none;
    border-bottom:1px solid #e3e4dc;
    padding: 10px 30px;
    width: 100px;
    outline: none;
    font-size: 15px;
    color: #393e46;
}